.frame { 
 background-color: transparent;
 background-image: url(sprite_sheet_artorias.png);
 background-repeat: no-repeat;
 width: 384px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -768px 0; } 
.frame-2 { background-position: -1152px 0; } 
.frame-3 { background-position: -1536px 0; } 
.frame-4 { background-position: -1920px 0; } 
.frame-5 { background-position: -2304px 0; } 
.frame-6 { background-position: -2688px 0; } 
.frame-7 { background-position: -3072px 0; } 
.frame-8 { background-position: -3456px 0; } 
.frame-9 { background-position: -3840px 0; } 
.frame-10 { background-position: -4224px 0; } 
.frame-11 { background-position: -4608px 0; } 
.frame-12 { background-position: -4992px 0; } 
.frame-13 { background-position: -5376px 0; } 
.frame-14 { background-position: -5760px 0; } 
.frame-15 { background-position: -6144px 0; } 
.frame-16 { background-position: -6528px 0; } 
.frame-17 { background-position: -6912px 0; } 
.frame-18 { background-position: -7296px 0; } 
.frame-19 { background-position: -7680px 0; } 
.frame-20 { background-position: -8064px 0; } 
.frame-21 { background-position: -8448px 0; } 
.frame-22 { background-position: -8832px 0; } 
.frame-23 { background-position: -9216px 0; } 
.frame-24 { background-position: -9600px 0; } 
.frame-25 { background-position: -9984px 0; } 
.frame-26 { background-position: -10368px 0; } 
.frame-27 { background-position: -10752px 0; } 
.frame-28 { background-position: -11136px 0; } 
.frame-29 { background-position: -11520px 0; } 
.frame-30 { background-position: -11904px 0; } 
.frame-31 { background-position: -12288px 0; } 
.frame-32 { background-position: -12672px 0; } 
.frame-33 { background-position: -13056px 0; } 
.frame-34 { background-position: -13440px 0; } 
.frame-35 { background-position: -13824px 0; } 
.frame-36 { background-position: -14208px 0; } 
.frame-37 { background-position: -14592px 0; } 
.frame-38 { background-position: -14976px 0; } 
.frame-39 { background-position: -15360px 0; } 
.frame-40 { background-position: -15744px 0; } 
.frame-41 { background-position: -16128px 0; } 
.frame-42 { background-position: -16512px 0; } 

